
streamlit>=1.32
streamlit-authenticator[bcrypt]>=0.3.2
pyyaml>=6.0.1
psycopg2-binary>=2.9.9
SQLAlchemy>=2.0.29
altair
folium
numpy
pandas
sqlalchemy
streamlit
streamlit-drawable-canvas
streamlit-folium
pyodbc
plotly

